{% extends 'base.html' %}

{% block title %}Trending Blogs{% endblock %}

{% block content %}
<div class="container-fluid">
  <h4 class="mb-4">Weekly Trending</h4>

  {% if category_post_map %}
    {% for category, posts in category_post_map %}
      <h5 class="mt-4">{{ category.name|title }}</h5>
      <div class="row">
        {% for post in posts %}
          <div class="col-md-12 mb-3">
            {% include 'post_card.html' %}
          </div>
        {% endfor %}
      </div>

      <!-- Show More Button -->
      <div class="text-end mb-5">
        <a href="{% url 'trending_category' category_slug=category.name|slugify %}" class="btn btn-success btn-sm">
          Show more →
        </a>
      </div>
    {% endfor %}
  {% else %}
    <p>No trending categories/posts available.</p>
  {% endif %}
</div>
{% endblock %}


